<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/reset.css}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <script type="text/javascript" src="https://unpkg.com/external-svg-loader@latest/svg-loader.min.js" async></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;0,800;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <!-- css+js del scrol -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.css">
  <script src="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.min.js"></script>

  <!--ingrese aca el archivo css-->
  <link th:href="@{/css/dash_style.css}" rel="stylesheet">
  <!-- <link th:href="@{/css/ingrese-aqui-archivo.css}" rel="stylesheet"> -->

  <title>COPAL</title>
</head>
<body>
<header th:replace="dashboard :: cabecera"></header>
<main>
    <aside th:replace="dashboard :: menu_lateral"></aside>
    <section class="flex-fill contenedor_contenido_principal">
        <!--aca reemplacen el los datos con un html que contenga los datos de la web que creen-->
        <!-- <div th:replace="nombre-html-sin-extension :: nombre-del-fragmento(thymeleaf)"></div> -->
        <!-- si no quieren usar el replace de thymeleaf, les dejo el contenedor que deberia ir en ambos casos -->
        <div id="breadcrum">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb ">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Departamentos</li>
            </ol>
          </nav>
        </div>
        <div class="contenedor_general_contenido_pagina" ss-container>
          <!-- aca pongan su contenido, no se preocupen de darle el 100% de tamaño a lo que coloquen,
          el contenedor toma el ancho disponible de la pantalla -->
        </div>
    </section>
  </div>
</main>
<!-- si en el futuro hay algun footer, se tendra que colocar un div para reemplazar en los html q usen este template -->
<footer></footer>
</body>
</html>