<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crear Socio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" th:href="@{/css/reset.css}" href="../static/css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- css+js del scrol -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.css">
    <script src="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/dash_style.css}" href="../static/css/dash_style.css">
    <link rel="stylesheet" th:href="@{/css/estilos_compartidos.css}" href="../static/css/estilos_compartidos.css">
    <link rel="stylesheet" th:href="@{/css/crearSocio_style.css}" href="../static/css/crearSocio_style.css">
</head>

<body>
<header th:replace="dashboard :: cabecera"></header>

    <main id="contenido_principal" class="container-fluid">
        <div class="row" style="height: 100%;">
            <aside th:replace="dashboard :: menu_lateral"></aside>
            <section id="main_content" class="col-10">
                <!--
                <div class="cont__breadcrum">
                    <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a th:href="@{/socios}" href="../socios">Socios</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Crear Socio</li>
                        </ol>
                    </nav>
                </div>
                -->
                <div id="breadcrum">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/socios}" href="../socios">Socios</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Crear Socio</li>
                      </ol>
                    </nav>
                </div>

                <div class="contenedor_general_contenido_pagina" ss-container>
                    <div class="cont__form container-fluid">
                        <form th:action="@{/socios}" th:object="${socio}" method="post" class="formulario" enctype="multipart/form-data">
                            <div class="titulo">Crear Nuevo Socio</div>
                            <div class="cont__grupo row my-5" style="font-size:16px">
                                <div>
                                    <label class="form__label">Los campos con '*' son obligatorios</label>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="cont__grupo">
                                    <div>
                                        <label for="denominacion" class="form__label">Nombre *</label>
                                        <input type="text" id="denominacion" class="form__input"
                                            th:field="${socio.denominacion}" />
                                        <span th:if="${#fields.hasErrors('denominacion')}" th:errors="*{denominacion}"
                                            th:style="'color: red'"></span>
                                    </div>
                                </div>
    
                                <div class="cont__grupo">
                                    <div>
                                        <label for="descripcion">Descripción *</label>
                                        <input type="text" id="descripcion" class="form__input"
                                            th:field="${socio.descripcion}">
                                        <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"
                                            th:style="'color: red'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cont__grupo">
                                    <div>
                                        <label for="mail">Email *</label>
                                        <input type="email" id="mail" class="form__input" th:field="${socio.mail}" />
                                        <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"
                                            th:style="'color: red'"></span>
                                    </div>
                                </div>
    
                                <div class="cont__grupo">
                                    <div></div>
                                    <label for="telefono">Teléfono *</label>
                                    <input type="tel" id="telefono" class="form__input" th:field="${socio.telefono}" />
                                    <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"
                                        th:style="'color: red'"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cont__grupo">
                                    <div></div>
                                    <label for="pagina">Página *</label>
                                    <input type="text" id="pagina" class="form__input" th:field="${socio.pagina}" />
                                    <span th:if="${#fields.hasErrors('pagina')}" th:errors="*{pagina}"
                                        th:style="'color: red'"></span>
                                </div>
                            </div>
                      
                            <div>
                                <div class="titulo">Ubicación</div>
                            </div>
    
                            <div th:object="${ubicacion}">
                                <div class="row">
                                    <div class="cont__grupo">
                                        <label for="provincia">Provincia *</label>
                                        <input type="text" id="provincia" class="form__input" th:field="${ubicacion.provincia}" />
                                        <span th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}" th:style="'color: red'"></span>
                                    </div>
                                    <div class="cont__grupo">
                                        <label for="Departamento">Departamento</label>
                                        <input type="text" id="Departamento" class="form__input" th:field="${ubicacion.departamento}" />
                                        <span th:if="${#fields.hasErrors('departamento')}" th:errors="*{departamento}" th:style="'color: red'"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cont__grupo">
                                        <label for="barrio">Barrio</label>
                                        <input type="text" id="barrio" class="form__input" th:field="${ubicacion.barrio}" />
                                        <span th:if="${#fields.hasErrors('barrio')}" th:errors="*{barrio}" th:style="'color: red'"></span>
                                    </div>
                                    <div class="cont__grupo">
                                        <label for="municipio">Municipio</label>
                                        <input type="text" id="municipio" class="form__input" th:field="${ubicacion.municipio}" />
                                        <span th:if="${#fields.hasErrors('municipio')}" th:errors="*{municipio}" th:style="'color: red'"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cont__grupo">
                                        <label for="calle">Calle *</label>
                                        <input type="text" id="calle" class="form__input" th:field="${ubicacion.calle}" />
                                        <span th:if="${#fields.hasErrors('calle')}" th:errors="*{calle}"
                                            th:style="'color: red'"></span>
                                    </div>
                                    <div class="cont__grupo">
                                        <label for="altura">Número *</label>
                                        <input type="text" id="altura" class="form__input" th:field="${ubicacion.altura}" />
                                        <span th:if="${#fields.hasErrors('altura')}" th:errors="*{altura}"
                                            th:style="'color: red'"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cont__grupo">
                                        <label for="piso">Piso</label>
                                        <input type="text" id="piso" class="form__input" th:field="${ubicacion.piso}" />
                                        <span th:if="${#fields.hasErrors('piso')}" th:errors="*{piso}" th:style="'color: red'"></span>
                                    </div>
                                    <div class="cont__grupo">
                                        <label for="codigoPostal">Código Postal *</label>
                                        <input type="text" id="codigoPostal" class="form__input" th:field="${ubicacion.codigoPostal}" />
                                        <span th:if="${#fields.hasErrors('codigoPostal')}" th:errors="*{codigoPostal}" th:style="'color: red'"></span>
                                    </div>
                                </div>
                            </div>
    
    
    <!--                        <div>-->
    <!--                            <h2>Usuario</h2>-->
    <!--                        </div>-->
    
    <!--                        <div class="row" th:object="${usuario}">-->
    <!--                            <div class="cont__grupo">-->
    <!--                                <label for="nombreUsuario">Usuario *</label>-->
    <!--                                <input type="text" id="nombreUsuario" class="form__input"-->
    <!--                                    th:field="${usuario.nombreUsuario}" />-->
    <!--                                <span th:if="${#fields.hasErrors('nombreUsuario')}" th:errors="*{nombreUsuario}"-->
    <!--                                    th:style="'color: red'"></span>-->
    <!--                            </div>-->
    <!--                            <div class="cont__grupo">-->
    <!--                                <label for="contrasenia">Contraseña *</label>-->
    <!--                                <input type="password" id="contrasenia" class="form__input"-->
    <!--                                    th:field="${usuario.contrasenia}" />-->
    <!--                                <span th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}"-->
    <!--                                    th:style="'color: red'"></span>-->
    <!--                            </div>-->
    <!--                        </div>-->
    
                           
                                <!-- <h2>Usuario</h2>
                            </div>
    
                            <div class="row" th:object="${usuario}">
                                <div class="cont__grupo">
                                    <label for="nombreUsuario">Usuario *</label>
                                    <input type="text" id="nombreUsuario" class="form__input"
                                        th:field="${usuario.nombreUsuario}" />
                                    <span th:if="${#fields.hasErrors('nombreUsuario')}" th:errors="*{nombreUsuario}"
                                        th:style="'color: red'"></span>
                                </div>
                                <div class="cont__grupo">
                                    <label for="contrasenia">Contraseña *</label>
                                    <input type="password" id="contrasenia" class="form__input"
                                        th:field="${usuario.contrasenia}" />
                                    <span th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}"
                                        th:style="'color: red'"></span>
                                </div>
                            </div> -->
    
    
                            <div class="cont__grupo" style="width:40vw;">
                                <label for="archivoLogo" class="form-label">Logo de la empresa</label>
                                <input class="form-control" type="file" name="archivoLogo" id="archivoLogo" >
                            </div>
    
                            <div class="cont__grupo">
                                <label for="tipoDeSocio" class="form-label">Tipo de Socio</label>
                                <div>
                                    <select class="selector_desplegable" id="tipoDeSocio" th:field="${socio.tipo}">
                                        <option value="CAMARA">Cámara</option>
                                        <option value="EMPRESA">Empresa</option>
                                    </select>
                                </div>
                            </div>
    
    <!--        <div class="cont__grupo">
                <label for="departamento">Area</label>
                <div>
                    <select id="area" th:field="${socio.area}">
                        <option value="Normativa">Normativa</option>
                        <option value="RRII">RRII</option>
                        <option value="Ambiente">Ambiente</option>
                        <option value="Comité Ejecutivo">Comité Ejecutivo</option>
                        <option value="Comisión Directiva">Comisión Directiva</option>
                        <option value="Presidentes">Presidentes</option>
                        <option value="Gerentes">Gerentes</option>
                        <option value="Comex">Comex</option>
                        <option value="Pyme">Pyme</option>
                        <option value="Fiscal">Fiscal</option>
                        <option value="Laborales">Laborales</option>
                        <option value="Legales">Legales</option>
                        <option value="Envases">Envases</option>
                    </select>
                </div>
            </div>-->
    
                            <div class="cont__grupo">
                                <button type="submit" class="btn_principal">CREAR</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </section>
        </div>
    </main>
</body>

</html>
