<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>Crear Socio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;0,800;1,400&display=swap"
          rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/reset.css}" href="../static/css/reset.css">
  <link rel="stylesheet" th:href="@{/css/dash_style.css}" href="../static/css/dash_style.css">
  <link rel="stylesheet" th:href="@{/css/crearSocio_style.css}" href="../static/css/crearSocio_style.css">
</head>

<body>
<header>
  <div id="top_bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div id="top_content">
            <img th:src="@{/img/logo_copal.svg}" src="../static/img/logo_copal.svg" alt="logo copal"
                 class="top_icon_size">
            <div>
              <span class="user_name">Nombre usuario</span>
              <img th:src="@{/img/icon_usuario.png}" src="../static/img/icon_usuario.png"
                   alt="logo copal" class="top_icon_size">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main id="contenido_principal" class="container-fluid">
  <div class="row" style="height: 100%;">
    <aside id="side_menu" class="px-3 py-5 col-2">
      <div class="contenido_menu_lateral">
        <a href="#" class="btn side_option" type="button">Inicio</a>
        <a href="#" class="btn side_option" type="button">Socios</a>
        <a href="#" class="btn side_option" type="button">Departamentos</a>
      </div>
    </aside>
    <section id="main_content" class="col-10">
      <div class="cont__breadcrum">
        <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
          <ol class="breadcrumb ">
            <li class="breadcrumb-item"><a th:ref="@{/departamentos}" href="../departamnetos">departamentos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear Departamento</li>
          </ol>
        </nav>
      </div>



      <div class="cont__form container-fluid">
        <form th:action="@{/departamentos}" th:object="${departamento}" method="post" class="formulario" enctype="multipart/form-data">
          <h2>Crear Nuevo Socio</h2>
          <div class="cont__grupo row" style="font-size:16px">
            <div>
              <label class="form__label">Los campos con '*' son obligatorios</label>
            </div>
          </div>
          </br></br></br></br>

          <div class="row">
            <div class="cont__grupo">
              <div>
                <label for="nombre" class="form__label">Nombre *</label>
                <input type="text" id="nombre" class="form__input"
                       th:field="${departamento.nombre}" />
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                      th:style="'color: red'"></span>
              </div>
            </div>

            <div class="cont__grupo">
              <div>
                <label for="objetivo">objetivo *</label>
                <input type="text" id="objetivo" class="form__input"
                       th:field="${departamento.objetivo}">
                <span th:if="${#fields.hasErrors('objetivo')}" th:errors="*{objetivo}"
                      th:style="'color: red'"></span>
              </div>
            </div>
          </div>

          <tr th:each="departamento : ${departamentos}">
            <td><img th:src="@{${departamento.icono}}" class="logo_size" alt="logo_socio">  </span></td>
            <td><span th:text="${departamento.nombre}"> Mostrar Denominación </span></td>
            <td><span th:text="${departamento.tipo.nombre}"> Mostrar Tipo </span></td>
            <td><span th:text="${departamento.objetivo}"> Mostrar objetivo</span></td>
            <td>
              <span th:if="${departamento.activo}"> <p>Activo</p> </span>
              <span th:unless="${departamento.activo}"> <p>Inactivo</p> </span>
            </td>
            <td><a th:href="'/departamento/' + ${departamento.id}" type="button" class="btn btn-outline-info">Detalles</a></td>
          </tr>

          <div class="cont__grupo">
            <label for="tipoDepartamento" class="form-label">Tipo de Socio</label>
            <div>
              <select id="tipoDepartamento" th:field="${departamento.tipo}" name="tipo">

                <span class="lnr lnr-chevron-down"></span>
                <option th:each="tipo:${tipos}" th:text="${tipo.nombre}" th:value="${tipo.id}"> </option>
              </select>
            </div>
          </div>
          <div  th:unless="${listaDepartamentos.empty}">
            <div class="cont__grupo">
              <label for="listaDepartamentos" class="form-label">Departamentos</label>
              <div>
                  <ul id="listaDepartamentos">
                    <li th:each="departamento : ${listaDepartamentos}">
                      <input type="checkbox" name="departamentos" th:value="${departamento.id}">
                      <span th:text="${departamento.nombre}"></span>
                    </li>
                  </ul>
              </div>
            </div>

          </div>


          <div class="cont__grupo">
            <button type="submit" class="btn_principal">CREAR</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
</body>

</html>