<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <script type="text/javascript" src="https://unpkg.com/external-svg-loader@latest/svg-loader.min.js" async></script>
    <link th:href="@{/css/dash_style.css}" rel="stylesheet">
    <link th:href="@{/css/departamentos_styles.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/crearSocio_style.css}">
    <link rel="stylesheet" th:href="@{/css/lista_style.css}">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <title>COPAL</title>
</head>
<body>
<header th:replace="dashboard :: cabecera"></header>
<main id="contenido_principal" class="container-fluid">

    <div class="row" style="height: 100%;">
        <aside th:replace="dashboard :: menu_lateral"></aside>
        <section id="main_content" class="col-10">
            <div th:replace="TiposDepartamentos/lista_tipos :: contenido"></div>
        </section>
    </div>
</main>
<footer></footer>
</body>
</html>